@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

hr {
    border: 2px solid #AFACA6
}

/* HIDE SCROLL BAR, BUT KEEP THE FUNCTIONALITY */
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* make scrollbar invisible */
}

#bg_index { 
    background: linear-gradient(90deg, rgb(88, 93, 109) 0%, rgb(50, 102, 117) 34%, rgb(206, 124, 77) 100%);
    background-size: 120%;


    min-height: 100%;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.header {
    background-color: rgb(223, 220, 213);

    animation-name: header_animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    
    border: 4px solid rgb(175, 172, 166);
    border-radius: 15px;

    box-shadow: 5px 1px rgb(139, 137, 132);
}
                @keyframes header_animation {
                    from {margin-top: 40rem;}
                    to {margin-top: 1rem;}
                }

